@model ChoixResto.ViewModels.RestaurantVoteViewModel
    <script type="text/javascript">
    jQuery.validator.addMethod("verifListe", function (value, element, params) {
        var nombreCoche = $('input:checked[data-val-verifListe]').length;
        return nombreCoche != 0;
    });

    jQuery.validator.unobtrusive.adapters.add
        ("verifListe", function (options) {
            options.rules["verifListe"] = options.params;
            options.messages["verifListe"] = options.message;
        });
    </script>
    <p>Cochez les restaurants où vous voulez bien aller. Attention, le vote est définitif !</p>
    @Html.ValidationMessageFor(m => m.ListeDesResto)
    @using (Html.BeginForm())
    {
        for (int i = 0; i < Model.ListeDesResto.Count; i++)
        {
            <div>
                @Html.CheckBoxFor(m => m.ListeDesResto[i].EstSelectionne, new { data_val = "true", data_val_verifListe = "Vous devez choisir au moins un restaurant" })
                @Html.LabelFor(m => m.ListeDesResto[i].EstSelectionne, Model.ListeDesResto[i].NomEtTelephone)
                @*@Html.ValidationMessageFor(m => m.ListeDesResto[i].EstSelectionne)*@
                @Html.HiddenFor(m => m.ListeDesResto[i].Id)
                @Html.HiddenFor(m => m.ListeDesResto[i].NomEtTelephone)
            </div>
        }
        <input type="submit" value="Valider le choix" style="margin-top: 20px;" />
    }